
<body background="/images/1.jpg">
   <div style="margin:20px;">
   <span style="margin:20px;">
  <b> <a href="/"> Home </a> </b>
   </span>
   <span style="margin:20px;">
   <b><a href="/game_lists"> Games </a> </b>
  </span>
  
  <span style="margin:20px;">
   <b><a href="/developers"> Developers </a></b>
   </span>
   
   <span style="margin:20px;">
  <b> <a href="/publishers"> Publishers </a></b>
  </span>
  
   <span style="margin:20px;">
   <b><a href="/query/queryMain"> Query  </a></b> 
  </span>
  
  <span style="margin:20px;">
   <b><%= link_to "Sign Out", destroy_user_session_path, :method=>:delete %></b>
  </span>
  
  
  </div>
  
  
  <br>
  <% if current_user.email=="admin@archives.com" %>
<h1>Editing developer</h1>

<%= render 'form' %>

<%= link_to 'Show', @developer %> |
<%= link_to 'Back', developers_path %>
<% else %>
You Are Not Authorised To Be Here
<% end %>
</body>

